<!DOCTYPE html>
<html>
<head>
    <title>Complaint</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>File Complaint</h2>

    <form method="POST">
        <input type="text" name="room" placeholder="Room No" required>

        <select name="category">
            <option>Electrician</option>
            <option>Plumbing</option>
            <option>Mess Food</option>
            <option>Other</option>
        </select>

        <textarea name="desc" placeholder="Describe issue"></textarea>

        <button type="submit">Submit</button>
    </form>

    <br>
    <a href="/student">⬅ Back</a>
</div>

</body>
</html>