
<!DOCTYPE html>
<html>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div style="color: lightgreen; font-weight: bold;">
      {{ messages[0] }}
    </div>
  {% endif %}
{% endwith %}
<head>
    <title>Complaint</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<div class="dashboard">
    <h1>👩 Student Dashboard</h1>

    <div class="card">
        <img src="/static/images/repair.png">
        <a href="/complaint">File Complaint</a>
    </div>

    <div class="card">
        <img src="/static/images/student.png">
        <a href="/my_complaints">View Status</a>
    </div>

    <div class="card">
        <a href="/logout">🚪 Logout</a>
    </div>
</div>